#home-intro, #home-about, #home-portfolio, #home-contact{
  padding: 5% 50px;
}
 #home-about, #home-contact{
     background-color: rgb(250, 249, 235);
}

img{width: 100%;}

#home-intro{
  text-align: center;
}

body{margin : 0;
box-sizing: border-box;
font-size: 1em}

header{
  background-image: url("https://images.unsplash.com/photo-1541791230600-b62df7fa1cf0?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-repeat: no repeat;
  background-position: right-top;
  margin: 0px;
}

header img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 10px auto 10px auto;
  border-radius: 100px;
  padding-top: 10px
}

nav{
  background-color: Teal;
  padding: 10px 0;
}

nav ul{
  list-style-type: none;
  padding: 5px 50px;
}

nav li {
  margin: 5px 0;
}
nav li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

h1{
  margin: auto;
  text-align: center;
  margin: 20px 0;
  font-size: 3em;
}

p{
  font-size: 1.2em;
}
.button{
  background-color: DarkSlateBlue;
  width: 200px;
  text-align: center;
  margin: 30px auto;
  padding: 10px 0;
  border-radius: 25px;
}

.button a{
  color: white;
  text-decoration: none;
}

#home-about img{
  width: 25%;
  height: 25%;
  max-width: 500px
  object-fit: cover;
}

figure{
  width: 100%;
  margin: 20px 0;
}

footer p{
  text-align: center;
}

nav li:hover, .button:hover{
  background-color: pink;
}

@media only screen and (min-width: 500px){
  nav ul{
    width: 405px;
    margin: auto;
}
  nav li{
    display: inline-block;
    padding: 10px 10px;
  }
  #home-about {
    overflow: auto;
    margin: 0%;
  }

}
@media only screen and (min-width: 1100px){

  figure{
    float: left;
    width: 45%;
    margin: 30px 20px;

  }
  figure img{
    hieght: 350;
    object-fit: cover;
  }

  #home-portfolio .button {
    clear: both;
  }
  #home-portfolio img{
    width: 25%;
    height: 25%;
    max-width: 500px
    object-fit: cover;
  }
  body{
    font-size: 1.2em;
  }
  nav ul{
    width: 500px;
    margin: auto;
}
  body{
    padding: 30px;
  }
